h2{
    text-align: center;
    color: white;
}
.header{
    background-color: black;
    display: flex ;
    align-items: center;
    padding: 20px;
    justify-content: center;
}
.footer{
    position: absolute;
    bottom: 0;
    width: 99%;
    text-align: center;
    background-color: black;
    color: white;
    padding: 50px 0;
}
.signin,.signout{
    background-color:aqua;
    border: black;
    color: white;
    padding: 15px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    font-size: 16px;
    margin: 0;
    cursor: pointer;
}
.signin a,.signout a{
    color: black;
    text-decoration: none;
}
.signin :hover,.signout :hover{
    color: white;
}
.container{
    text-align: center;
    border: 1px;
    border-color: blue;
    padding: 5px;
}
button {
    background-color: #04AA6D;
    color: white;
    padding: 15px 32px;
    margin: 7px 0;
    border: none;
    cursor: pointer;
    opacity: 0.9;
}
.wrapper{
    background: transparent;
    border:2px solid rgb(255, 255, 255);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgb(0,0,0);
    border-radius: 20px;
    padding: 10px 40px;
    margin-left: 550px;
    margin-right: 550px;
}
body{
    background-image: url(upscaled.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.left {
    display: flex;
    align-items: center;
}
.right {
    display: flex;
    gap: 10px;
    margin-left: 1100px;
    flex-direction: row;
}
h1{
    text-align: center;
    color: black;
}